<ion-view title="Conferences">
    <ion-content class="conference">
        <div class="row" style="padding-top: 300px;">
            <div class="col" style="text-align: center">
                <a href="#/tab/talks/eu">
                    <img src="img/gr8conf-eu-icon.png" height="100" width="120">
                </a>
                <div>Europe</div>
            </div>

            <div class="col" style="text-align: center">
                <a href="#/tab/talks/us">
                    <img src="img/gr8conf-us-icon.png" height="100" width="120">
                </a>
                <div>USA</div>
            </div>
        </div>
    </ion-content>
</ion-view>
