<ion-view title="Conferences">
    <ion-content class="conference">
        <div class="row" style="padding-top: 300px;">
            <div class="col" style="text-align: center">
                <a href="#/tab/talks/eu" style="margin-left: -15px;">
                    <img src="img/gr8conf-eu-2015.png" height="150" width="200">
                </a>
            </div>

            <div class="col" style="text-align: center;padding-top: 10px;">
                <a href="#/tab/talks/us" onclick="return false;">
                    <img src="img/gr8conf-us-2015.png" height="150" width="200">
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
