<ion-view title="Conferences">
    <ion-content class="conference">
        <div style="padding-top: 75px;">
            <div style="text-align: center;">
                <a href="#/tab/talks/eu">
                    <img src="img/gr8conf-eu-2015.png" height="150" width="200">
                </a>
            </div>

            <div style="padding-top: 40px;text-align: center">
                <a href="#/tab/talks/us" onclick="return false;">
                    <img src="img/gr8conf-us-2015.png" height="150" width="200">
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
