<ion-view title="Speakers" class="conference">
    <ion-content class="content-light">
        <ion-list scroll="false" on-refresh="onRefresh()"
                  s-editing="isEditingItems"
                  animation="fade-out"
                  delete-icon="icon ion-minus-circled">
            <div ng-repeat="speaker in gr8conf.speakers"
                      class="card"
                      item="item"
                      buttons="item.buttons"
                      can-swipe="true"
                      on-delete="deleteItem(item)"
                      ng-class="{completed: item.isCompleted}">

                <div class="item item-avatar">
                    <img ng-src="{{speaker.image}}">
                    <h2>{{ speaker.name }}</h2>
                    <p>{{ speaker.twitter | withHandle }}</p>
                </div>
                <div class="item item-body"
                     ng-bind-html="speaker.bio">
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
