<ion-tabs class="tabs-icon-top tabs-assertive">
    <ion-tab title="Home" icon="icon ion-ios7-home" href="#/tab/conf">
        <ion-nav-view name="tab-conf"></ion-nav-view>
    </ion-tab>

    <!-- Talks Tab -->
    <ion-tab title="Talks" icon="icon ion-speakerphone" ui-sref='tab.talks'>
        <ion-nav-view name="tab-talks"></ion-nav-view>
    </ion-tab>

    <!-- Agenda Tab -->
    <ion-tab title="Agenda" ng-if="confId" icon="icon ion-ios7-paper" icon-off="ion-ios7-paper-outline" ui-sref='tab.agenda'>
        <ion-nav-view name="tab-agenda"></ion-nav-view>
    </ion-tab>

    <!-- Speakers Tab -->
    <ion-tab title="Speakers" ng-if="confId" icon="icon ion-ios7-people" icon-off="ion-ios7-people-outline" ui-sref='tab.speakers'>
        <ion-nav-view name="tab-speakers"></ion-nav-view>
    </ion-tab>
</ion-tabs>