<ion-tabs class="tabs-icon-top tabs-assertive">

    <ion-tab title="Home" icon="icon ion-ios7-home" href="#/tab/conf">
        <ion-nav-view name="tab-conf"></ion-nav-view>
    </ion-tab>

    <!-- Talks Tab -->
    <ion-tab title="Talks" icon="icon ion-speakerphone" href="#/tab/talks">
        <ion-nav-view name="tab-talks"></ion-nav-view>
    </ion-tab>

    <!-- Agenda Tab -->
    <ion-tab title="Agenda" icon="icon ion-ios7-paper" icon-off="ion-ios7-paper-outline" href="#/tab/agenda">
        <ion-nav-view name="tab-agenda"></ion-nav-view>
    </ion-tab>


    <!-- Speakers Tab -->
    <ion-tab title="Speakers" icon="icon ion-ios7-people" icon-off="ion-ios7-people-outline" href="#/tab/speakers">
        <ion-nav-view name="tab-speakers"></ion-nav-view>
    </ion-tab>


</ion-tabs>
